[MASTER]
# Ensure pylint can import local `src` package by adding project root to sys.path.
init-hook='import sys; sys.path.insert(0, r"C:\\Users\\bizle\\Desktop\\jpmorgan_financial_apis")'

[MESSAGES CONTROL]
# Disable import-related warnings
disable=wrong-import-position,import-error,no-name-in-module,no-else-return,too-many-return-statements

[TYPECHECK]
ignored-modules=
